

.portfolio{
  max-width: 100%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."; 
  justify-items: center;
  gap: 100px;
  padding-bottom: 80px;
}

.portfolio-title {
  height: auto;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  justify-items: center;
  align-items: center;
  color: #dcd7c9;
  font-weight: 300;
  font-size: 3.2rem;
  letter-spacing: -0.1rem;
  text-shadow: 3px 0px 7px #000, -3px 0px 7px #000, 0px 4px 7px #000;
}

.portfolio-box {
  background-color: #a27b5c;
  align-items:stretch;
  display: grid;
  justify-items: center;
  border-radius: 20px;
}

.description-box h3 h4{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, auto));
}

.description-box {
  width: 500px;
  margin-left: 25px;
  margin-right: 25px;
  
}

.button-portfolio-card{
  outline: none;
  background-color: #2c3639;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: auto;
  border-radius: 10px;
  text-decoration: none;
}

.bi{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}


.picture img {
  width: 20rem;
  margin: 20px;
  z-index: 1;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
  margin-top: 15px;
  border-radius: 20px;
}

.picture img:hover {
  filter: grayscale(0%);
  filter: #a27b5c;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}




.text-box {
  text-shadow: -3px 0px 5px #000000;
  font-size: 0.8rem;
  display: grid;
}


description-box ul {
}

.description-box ul li {
  font-size: 0.8rem;
  display: grid;
  margin-top: 0.5rem;
  gap: 2rem;
  color: #dcd7c9;
  background-color: #2c3639;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 7rem;
  border-radius: 20px;
  text-decoration: none;
  list-style: none;
  justify-content:center;
  align-items: center;
}

@media screen and (max-width: 650px){
  .portfolio-container{
    background-size: 100%;
  }

  .portfolio{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr; 
    gap: 20px 0px; 
    grid-template-areas: 
      "."
      "."
      "."
      "."
      "."; 
  }

  .description-box{
    width: 60vw;
  }

  .picture img{
    width: 60vw;
  }

  .portfolio-title{
    font-size: 2.8rem;
  }
}
