.portfolio-container {
  height: auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "portfolio-title portfolio-title portfolio-title"
    "portfolio-cards portfolio-cards portfolio-cards"
    "portfolio-cards portfolio-cards portfolio-cards";
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.35);
}
.portfolio-title {
  width: 50%;
  justify-content: center;
  align-content: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
  grid-area: portfolio-title;
  color:  #dcd7c9;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  margin-bottom: 60px;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}
.portfolio-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "don-remolo-card weatherapp-card embe-card"
    "tic-tac-toe-card falcon-aviaton-card airport-info-card";
  grid-area: portfolio-cards;
}
.weatherapp-card {
  grid-area: weatherapp-card;
}
.embe-card {
  grid-area: embe-card;
}
.tic-tac-toe-card {
  grid-area: tic-tac-toe-card;
}
.falcon-aviaton-card {
  grid-area: falcon-aviaton-card;
}
.airport-info-card {
  grid-area: airport-info-card;
}



.card-portfolio {
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  background: var(--i);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(141, 141, 141, 0.73);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  opacity: 0;
  transition: 0.5s;
}

.content h2,
a {
  color: #000000;
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: -0.1rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin: 10px 0;
}

.content h4,
a {
  color: #000000;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
  padding-bottom: 10px;
  margin: 10px 0;
}

.title-box{
  max-width:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-portfolio:hover .content {
  opacity: 1;
}

.text-title-card{
  width: 50px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-self: center;
}

.button-box{
  display: flex;
  gap: 10px;
}

.button-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-rows: 0.1fr repeat(4, 1fr); /* Ajustamos el número de filas para adaptarse a pantallas de tablet */
  }

  .portfolio-cards {
    grid-template-columns: repeat(2, 1fr); /* Reducimos el número de columnas para adaptarse a pantallas de tablet */
    gap: 20px; /* Añadimos un espacio entre las tarjetas */
  }
}

@media screen and (max-width: 768px) {
  .portfolio-container {
    grid-template-rows: 0.1fr repeat(6, 1fr); /* Ajustamos el número de filas para adaptarse a pantallas de celular */
  }

  .portfolio-title {
    width: 80%; /* Aumentamos el ancho del título para ocupar más espacio en pantallas de celular */
    font-size: 2rem; /* Reducimos el tamaño de fuente del título */
    margin-bottom: 40px; /* Reducimos el margen inferior del título */
  }

  .portfolio-cards {
    grid-template-columns: 1fr; /* Solo una columna en pantallas de celular */
    grid-template-rows: repeat(6, 1fr); /* Ajustamos el número de filas para adaptarse a pantallas de celular */
    gap: 20px; /* Añadimos un espacio entre las tarjetas */
  }
}

@media screen and (max-width: 680px) {

  .portfolio-container{
    margin-top: -60px;
    width: 100%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr repeat(6, 2fr); 
    gap: 0px 0px; 
    grid-template-areas: 
      "portfolio-title"
      "portfolio-cards"
      "portfolio-cards"
      "portfolio-cards"
      "portfolio-cards"
      "portfolio-cards"
      "portfolio-cards"; 
  }

  .portfolio-container h1{
    width: 50%;
    margin-right: 30px;
  }

  .portfolio-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "don-remolo-card" 
      "weatherapp-card"
      "embe-card"
      "tic-tac-toe-card"
      "falcon-aviaton-card" 
      "airport-info-card";
    grid-area: portfolio-cards;
  }

  .title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card-portfolio{
    width: 100%;
  }

  .content{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Añadimos esta propiedad para centrar el texto */
  }

  .content h2,
  .content h4,
  .content a {
    margin: 10px 0; /* Ajustamos el margen para separar los elementos verticalmente */
  }
}
