.Skills-box {
  padding-top: 80px;
  height: 100%;
  padding-bottom: 100px;
  background-color: #2c3639;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, auto));
  
}

.skills-title {
  margin-bottom: 50px;
  color: #dcd7c9;
  font-size: 0.9em;
  font-weight: 300;
  grid-area: 1/1 / span 1 / span 3;
  display: grid;
  justify-items: center;
  align-items: end;
  color: #dcd7c9;
  font-weight: 300;
  font-size: 3.2rem;
  letter-spacing: -0.1rem;
  text-shadow: 3px 0px 7px #000, -3px 0px 7px #000, 0px 4px 7px #000;
}

.skills-cards {
  grid-area: 2/2 / span 1 / span 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 130px;
  height: 170px;
  perspective: 1000px;
}

.skills-cards img {
  width: 7rem;
}


.title {
  color: #dcd7c9;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 90%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  
  box-shadow: 10px 10px 5px #232b2e;
}

.flip-card-back {
  color: #dcd7c9;
  transform: rotateY(180deg);
  align-items: center;
  box-shadow: 10px 10px 5px #232b2e;
}

@media screen and (max-width: 650px){
  .skills-box {
    display: grid;
    justify-items: center
}

.skills-cards {
  margin-right: 10px;
  max-width: 650px;
  grid-area: 2/2 / span 1 / span 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 20px;
  justify-items: end;
  align-items: center;
}

.flip-card {
  width: 80px;
  height: 120px;
}

.skills-cards img {
  width: auto;
}

.skills-title{
  font-size: 2.8rem;
}
}