.about {
  overflow-x: hidden;
  height: 100vh;
  background-color: rgb(27, 27, 27);
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.1fr 4fr 0.2fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". about-skills ."
    ". . .";
  align-items: center;
}
.about-skills {
  display: grid;
  grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;
  grid-template-rows: 0.1fr 4fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". about-me skills ."
    ". . . .";
  grid-area: about-skills;
  align-self: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.about-me {
  color: azure;
  grid-area: about-me;
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". about-me-title ."
    ". about-me-text ."
    ". . .";
  align-self: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.about-me-title {
  grid-area: about-me-title;
  border-bottom: 1px solid;
}
.about-me-text {
  justify-self: start;
  align-self: start;
  grid-area: about-me-text;
}

.skills {
  grid-area: skills;
  color: azure;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 10px;
  grid-template-areas:
    ". icon-title ."
    ". icon-box ."
    ". . .";
  grid-area: skills;
  align-self: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.icon-title {
  grid-area: icon-title;
  border-bottom: 1px solid;
}


.icon-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px 30px;
  grid-template-areas:
    ". . . ."
    ". . . .";
  grid-area: icon-box;
  align-self: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.icon {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


/**/
/* Mobile */
@media (max-width: 968px) {
  .about {
    overflow-x: hidden;
    max-width: 768px;
    padding-top: 100px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-items: center;
    height: 100%;
    background-color: rgb(27, 27, 27);
  }

  .about-skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    justify-self: center;
    grid-template-areas:
      "about-me"
      "skills";
  }

  .about-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    justify-self: center;
    grid-template-areas:
      "about-me-title"
      "about-me-text"
      ".";
    align-items: center;
    padding-bottom: 50px;
  }

  .about-me-title {
    grid-area: about-me-title;
    border-bottom: 1px solid;
    text-align: center;
  }

  .about-me-text {
    grid-area: about-me-text;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .skills {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    justify-self: center;
    align-self: center;
    grid-template-areas:
      "icon-title"
      "icon-box";
  }
  
  .icon-title {
    width: 96%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    justify-self: center;
    align-self: center;
    align-content: center;
    align-content: center;
    justify-content: center;
    grid-template-areas:
      ".";
  }
  
  .skills-title {
    grid-area: skills-title;
    width: 100%;
    justify-self: center;
    align-self: center;
    grid-area: project-title;
    text-align: center;
  }
  
  .icon-box {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."
      ". . .";
  }
  
  }
