footer{
    overflow-x: hidden;
    background-color: #353535;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: -0.1rem;
}

footer ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

footer .nav-link {
    color: #dcd7c9 !important;
  }

  .footer-text {
    color: #dcd7c9;
  }