.App {
  overflow-x: hidden;
  background-image: url("../src/assets/images/image.webp") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.BackTopArrow,
path {
  box-shadow: none !important;
  background-color: #a27b5c !important;
  fill: white ;
}


@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
  }
}


@media screen and (max-width: 720px) {
  body {
    overflow-x: hidden;
  }
  
}