@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}



