html, body {
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  background-image: url("../src/assets/images/code-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* Versión de escritorio */
@media screen and (min-width: 768px) {
  body {
    background-attachment: fixed;
  }
}
