.AboutMe-Container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 20% 60% 20%);
  grid-template-rows: 0.2fr 2fr 0.2fr;
  justify-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.35);
}

.box {
  width: 100%;
  /* From https://css.glass */
  background: rgba(141, 141, 141, 0.73);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(141, 141, 141, 0.61);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  height: auto;
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 20px;
  padding: 50px;
  box-shadow: #000000 0px 1px 22px 0px, #000000 0px 1px 3px 1px;
  padding-top: 100px;
}

.AboutMe-Container h1 {
  color: #000000;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  margin-bottom: 40px;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.AboutMe-Container h2 {
  color: #000000;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  margin-bottom: 40px;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

section p {
  color: #000000;
  font-size: 0.9em;
}

.skills-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: 0.1fr 4fr;
  gap: 0px 0px;
  margin-top: 100px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . .";
  grid-area: 2 / 1 / 3 / 2;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  justify-self: center;
}

img {
  width: 80px;
}


@media screen and (max-width: 1024px) {
.AboutMe-Container {
  grid-template-columns: repeat(3, 10% 80% 10%);
  padding: 0px 0px 120px 0px;
}

.AboutMe-Container h1 {
  font-size: 2.8rem;
}

section p {
  font-size: 0.8em;
}
}

@media screen and (max-width: 768px) {
.AboutMe-Container {
  grid-template-columns: 5% 90% 5%;
  background-position: center bottom;
  background-size: 100%;
  padding: 80px 0px 80px 0px;
}
}

@media screen and (max-width: 450px) {
  .AboutMe-Container {
    width: 100%;
    grid-template-columns: 5% 90% 5%;
    padding: 40px 0px 0px 0px;
  }

  .AboutMe-Container h1 {
    width: 80%;
    font-size: 2rem;
  }

  h2{
    width: 80%;
  }

  section p {
  width: 100%;
  }

  .card {
    width: 60px; /* Ajustamos el tamaño de los iconos */
    height: 60px; 
  }
  .card-inner p{
    width: 100%;
  }

  img {
    width: 50px;
    max-width: 80px;
  }
  
}

